.footer__text-content{
  width: 100%;
  max-width: 1131px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 940px) {
  .footer__text-content {
    flex-direction: column;
  }
}