.best-offers{
  margin-top: 50px;
  width: 100%;
  min-height: 1100px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  gap: 35px;
  box-sizing: border-box;
}

@media screen and (max-width: 940px) {
  .best-offers {
    padding-bottom: 30px;
  }
}

